In [1]:
import numpy as np
import pandas as pd

data = pd.Series([0, 0.6, 9, 10])
data

0     0.0
1     0.6
2     9.0
3    10.0
dtype: float64

In [2]:
data.values
data

array([ 0. ,  0.6,  9. , 10. ])

In [3]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [4]:
data[1]

0.6

In [9]:
data[1::2]

1     0.6
3    10.0
dtype: float64

In [16]:
temps = { 'la paz': 23, 'tarija': 33, 'santa': 43}
serie = pd.Series(temps)
serie
area = { 'la paz': 203, 'tarija': 303, 'santa cruz': 403}
area_serie = pd.Series(area)
area_serie

la paz        203
tarija        303
santa cruz    403
dtype: int64

In [14]:
serie['santa']

43

In [12]:
pd.Series(7, index=[100,400,500])

100    7
400    7
500    7
dtype: int64

In [17]:
departamentos = pd.DataFrame({'temp': temps, 'area': area_serie})
departamentos

            temp   area
la paz      23.0  203.0
santa       43.0    NaN
santa cruz   NaN  403.0
tarija      33.0  303.0

In [21]:
departamentos.index
departamentos.columns
departamentos['temp']

la paz        23.0
santa         43.0
santa cruz     NaN
tarija        33.0
Name: temp, dtype: float64

In [23]:
temps = { 'la paz': 23, 'tarija': 33, 'santa': 43}
temps['la paz']

23

In [30]:
np_a = np.random.rand(3,2)
print(np_a)
pd.DataFrame(np_a,columns=['foo', 'bar'], index=['a','b',2])

[[0.09092609 0.65080589]
 [0.28559061 0.38619736]
 [0.26023315 0.47648096]]

        foo       bar
a  0.090926  0.650806
b  0.285591  0.386197
2  0.260233  0.476481

In [33]:
a = np.ones(3, dtype=[('A', 'i8'), ('B', 'f8')])
a

array([(1, 1.), (1, 1.), (1, 1.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [35]:
pd.DataFrame(a)

   A    B
0  1  1.0
1  1  1.0
2  1  1.0

In [40]:
ind = pd.Index([3,6,2,4,1])
ind[1]
ind.shape,ind.size

((5,), 5)

In [43]:
indA = pd.Index([2, 3, 5, 7, 'ss'])
indB = pd.Index([2, 90, 5, 7, 11])

In [48]:
indA & indB
indA | indB
indA ^ indB
indA.intersection(indB)
indA.union(indB)

Index([2, 3, 5, 7, 11, 90, 'ss'], dtype='object')