In [2]:
import pandas as pd
data = pd.Series([i for i in range(5)], index=['a', 'b','c', 'd', 'e'])
data

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [7]:
data['a']
'a' in data
data.keys()
list(data.items())

[('a', 0), ('b', 1), ('c', 2), ('d', 3), ('e', 4)]

In [9]:
data[(data>2) & (data < 5)]
data

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [13]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [16]:
print(data[1])
data[1:3]

a

3    b
5    c
dtype: object

In [19]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})

In [21]:
data['area']
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [23]:
data['densidad'] = data['pop'] / data['area']
data

              area       pop    densidad
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [24]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [26]:
data.T
data

              area       pop    densidad
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [30]:
data.values[0]
data['area']
data.iloc[:3,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127