In [1]:
result = 0
for i in range(100):
    result += 1

result

100

In [1]:
import random as random
a = random.randint(2,4)
a

3

In [6]:
array = list(range(10))
array

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
array2 = [True, 'ivan', 'mujica', 33, 26]
array_tipo = [type(item) for item in array2]
array_tipo

[bool, str, str, int, int]

In [14]:

import array 
L = list(range(10))
A = array.array('l', L)
A

array('l', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
import numpy as np
np.array([1, 4,6,7.0])

array([1., 4., 6., 7.])

In [62]:
np.array([range(i, i+3) for i in [9,8,7]])
np.array([i for i in range(30)])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [22]:
a=range(3, 9)
a

range(3, 9)

In [24]:
np.zeros(10, dtype = 'int')

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [27]:
np.ones((3,5), dtype=int)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [28]:
np.full((6,6), 33)

array([[33, 33, 33, 33, 33, 33],
       [33, 33, 33, 33, 33, 33],
       [33, 33, 33, 33, 33, 33],
       [33, 33, 33, 33, 33, 33],
       [33, 33, 33, 33, 33, 33],
       [33, 33, 33, 33, 33, 33]])

In [29]:
np.linspace(0,2,10)

array([0.        , 0.22222222, 0.44444444, 0.66666667, 0.88888889,
       1.11111111, 1.33333333, 1.55555556, 1.77777778, 2.        ])

In [31]:
np.random.random((3,3))

array([[0.40156098, 0.28194746, 0.14827676],
       [0.42305091, 0.29739476, 0.61546476],
       [0.55674211, 0.93367959, 0.54683954]])

In [32]:
np.random.normal(0, 1, (3,3))

array([[-0.89311736, -0.89949576, -0.52711739],
       [ 1.25120009, -0.37424915, -1.39057306],
       [-0.19433333, -1.04883479,  0.10489199]])

In [33]:
np.random.randint(0,10, (10, 10))

array([[4, 4, 0, 2, 0, 7, 7, 7, 3, 8],
       [7, 0, 4, 2, 2, 5, 1, 1, 8, 7],
       [6, 4, 2, 6, 0, 3, 6, 0, 8, 2],
       [2, 5, 3, 9, 3, 3, 3, 7, 8, 4],
       [9, 5, 3, 0, 1, 8, 0, 5, 7, 2],
       [2, 6, 9, 3, 9, 0, 9, 0, 3, 1],
       [8, 5, 4, 8, 6, 8, 7, 4, 5, 5],
       [5, 6, 8, 3, 2, 3, 9, 5, 0, 9],
       [8, 8, 1, 0, 8, 7, 9, 7, 2, 8],
       [0, 7, 0, 3, 5, 0, 1, 7, 0, 2]])

In [39]:
import numpy as np
np.random.seed(0)
x1 = np.random.randint(10, size=6)
x1
x2 = np.random.randint(100, size=(10,10))
x2

array([[83, 21, 36, 87, 70, 88, 88, 12, 58, 65],
       [39, 87, 46, 88, 81, 37, 25, 77, 72,  9],
       [20, 80, 69, 79, 47, 64, 82, 99, 88, 49],
       [29, 19, 19, 14, 39, 32, 65,  9, 57, 32],
       [31, 74, 23, 35, 75, 55, 28, 34,  0,  0],
       [36, 53,  5, 38, 17, 79,  4, 42, 58, 31],
       [ 1, 65, 41, 57, 35, 11, 46, 82, 91,  0],
       [14, 99, 53, 12, 42, 84, 75, 68,  6, 68],
       [47,  3, 76, 52, 78, 15, 20, 99, 58, 23],
       [79, 13, 85, 48, 49, 69, 41, 35, 64, 95]])

In [44]:
x2.shape 
x2.ndim

2

In [48]:
x1 = np.random.randint(0,100, 33)
x1

array([69, 94,  0, 50, 36, 34, 48, 93,  3, 98, 42, 77, 21, 73,  0, 10, 43,
       58, 23, 59,  2, 98, 62, 35, 94, 67, 82, 46, 99, 20, 81, 50, 27])

In [52]:
x1[3: 30: 2]

array([50, 34, 93, 98, 77, 73, 10, 58, 59, 98, 35, 67, 46, 20])

In [53]:
x = list(range(100))
x

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [61]:
x4 = np.random.randint(0,34,8)
x4
x5 = np.arange(80)
x5

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79])

In [4]:
import numpy as np
x = np.arange(89)
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88])